<ul class="nav bg-danger">
  <li class="nav-item">
    <a class="nav-link"routerLink="/acceuil" routerLinkActive="active"><img src="../../assets/Images/icons8-maison-48.png" alt=""></a>
  </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/document" routerLinkActive="active"><img src="../../assets/Images/icons8-document-48.png" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/quizz_acceuil" routerLinkActive="active"><img src="../../assets/Images/icons8-terre-48.png" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/culture_acceuil" routerLinkActive="active"><img src="../../assets/Images/icons8-pays-48.png" alt=""></a>
    </li>
  </ul>
