<div class="container d-flex justify-content-center flex-column w-100 h-100 mt-2">
    <h1 class=" text-center w-100">Êtes-vous un patron de culture ?</h1>
    <img src="../../assets/Images/think-smart.gif" class="h-50 w-25 m-auto">
    <div class="d-flex justify-content-evenly w-100 flex-wrap mt-2">

        <p routerLinkActive="active" class="btn btn-light bg-primary m-1" (click)="linkGame('europe')">Europe</p>

        <p class="btn btn-light bg-danger m-1" (click)="linkGame('asia')">Asie</p>

        <p class="btn btn-light bg-success m-1" (click)="linkGame('africa')">Afrique</p>

        <p class="btn btn-light bg-warning m-1" (click)="linkGame('america')">Amérique</p>

        <p class="btn btn-light  m-1" (click)="linkGame('oceania')">Océanie</p>

        <p class="btn btn-light bg-dark m-1" (click)="linkGame('all')">Monde</p>
    </div>
</div>
